<h1>商品編集</h1>

<%= form_with model: [:admin, @item], local:true do |f| %>
 <div>
   <span>商品画像</span>
 <%= f.attachment_field :image %>
 </div>
 <div>
   <span>商品名</span>
   <%= f.text_field :name %>
 </div>
 <div>
   <span>商品説明</span>
   <%= f.text_area :introduction %>
 </div>
 <div>
   <span>税抜価格</span>
   <%= f.text_field :price %>円
 </div>
 <div>
  <%= f.submit '変更を保存' %>
 </div>
<% end %>