<h1>商品新規登録</h1>

<%= form_with model: [:admin, @item], local:true do |f| %>
 <div>
   <span>商品画像</span>
 <%= f.attachment_field :image %>
 </div>
 <div>
   <span>商品名</span>
   <%= f.text_field :name %>
 </div>
 <div>
   <span>商品説明</span>
   <%= f.text_area :introduction %>
 </div>

 <div>
   <span>税抜価格</span>
   <%= f.text_field :price %><span>円</span>
 </div>
 <div>
  <%= f.submit '新規登録' %>
 </div>
<% end %>