<div class="container" >
<p>商品詳細</p>

<div class="row" >

<div class="col-md-4">
<%= attachment_image_tag @item, :image, :fill, 200, 200 %>
</div>

<div class="col-md-8" >
<div>
  <label>商品名</label>
  <%= @item.name %>
</div>

<div>
  <label>商品説明</label>
  <%= @item.introduction %>
</div>

<div>
  <label>
    税込価格</br>
    (税抜価格)
  </label>
  <%= @item.with_tax_price %> 円
  (<%= @item.price %>)円
</div>

<%= link_to "編集する", edit_admin_item_path(@item.id), class: "btn btn-primary" %>
</div>
</div>
</div>