<p>注文情報確認</p>

<table>
  <thead>
    <tr>
      <th>商品名</th>
      <th>単価(税込)</th>
      <th>数量</th>
      <th>小計</th>
    </tr>
  </thead>
  <tbody>
    <% @total = 0 %>
    <% @cart_items. each do |cart_item| %>
    <% @total += cart_item.subtotal   %>
    <tr>
    <td>
      <%= attachment_image_tag cart_item.item, :image, :fill, 60, 60 %>
      <%= cart_item.item.name %>
    </td>
    <td><%= cart_item.item.with_tax_price %></td>
    <td><%= cart_item.amount %></td>
    <td><%= cart_item.subtotal %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<table>
  <tr>
    <th>送料</th>
    <td><%= @order.postage %></td>
  </tr>
  <tr>
    <th>商品合計</th>
    <td><%= @total %></td>
  </tr>
  <tr>
    <% @order.pay = @total + @order.postage %>
    <th>請求金額</th>
    <td><%= @order.pay %></td>
  </tr>
</table>

<p>支払方法</p>
<% if @order.payment = 'credit_card' %>
  <%= Order.payments_i18n[:credit_card] %>
<% elsif @order.payment = 'transfer' %>
  <%= Order.payments_i18n[:transfer] %>
<% end %>

<p>お届け先</p>
〒<%= @order.postal_code %> <%= @order.address %></br>
<%= @order.name %>

<%= form_with model: @order, local:true do |f| %>
  <%= f.hidden_field :customer_id %>
  <%= f.hidden_field :name %>
  <%= f.hidden_field :address %>
  <%= f.hidden_field :postal_code %>
  <%= f.hidden_field :postage, value: @order.postage %>
  <%= f.hidden_field :pay, value: @order.pay %>
  <%= f.submit '注文を確定する' %>
<% end %>